{% extends 'base.html' %}

{% set active_page = "dashboard" %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h4>Dashboard</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="card shadow">
          <div class="card-header">
            <span><i class="bi bi-table me-2"></i></span> Transactions List
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                id="example"
                class="table table-striped data-table"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Session</th>
                    <th>Term</th>
                    <th>Grade</th>
                    <th>Slide(s)</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>03-04-2024</td>
                    <td>2023/2024</td>
                    <td>Third term</td>
                    <td>Grade 7</td>
                    <td>21 slides</td>
                    <td><em>Pending</em></td>
                    <td>
                      <a href="#" class="px-3">
                        <button class="btn btn-danger py-1 px-3 shadow-none" type="button">Delete</button>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>03-04-2024</td>
                    <td>2023/2024</td>
                    <td>Third term</td>
                    <td>Grade 7</td>
                    <td>21 slides</td>
                    <td><em>Pending</em></td>
                    <td>
                      <a href="#" class="px-3">
                        <button class="btn btn-danger py-1 px-3 shadow-none" type="button">Delete</button>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>03-04-2024</td>
                    <td>2023/2024</td>
                    <td>Third term</td>
                    <td>Grade 7</td>
                    <td>21 slides</td>
                    <td><em>Pending</em></td>
                    <td>
                      <a href="#" class="px-3">
                        <button class="btn btn-danger py-1 px-3 shadow-none" type="button">Delete</button>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>03-04-2024</td>
                    <td>2023/2024</td>
                    <td>Third term</td>
                    <td>Grade 7</td>
                    <td>21 slides</td>
                    <td><em>Pending</em></td>
                    <td>
                      <a href="#" class="px-3">
                        <button class="btn btn-danger py-1 px-3 shadow-none" type="button">Delete</button>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>03-04-2024</td>
                    <td>2023/2024</td>
                    <td>Third term</td>
                    <td>Grade 7</td>
                    <td>21 slides</td>
                    <td><em>Pending</em></td>
                    <td>
                      <a href="#" class="px-3">
                        <button class="btn btn-danger py-1 px-3 shadow-none" type="button">Delete</button>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>03-04-2024</td>
                    <td>2023/2024</td>
                    <td>Third term</td>
                    <td>Grade 7</td>
                    <td>21 slides</td>
                    <td><em>Pending</em></td>
                    <td>
                      <a href="#" class="px-3">
                        <button class="btn btn-danger py-1 px-3 shadow-none" type="button">Delete</button>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>03-04-2024</td>
                    <td>2023/2024</td>
                    <td>Third term</td>
                    <td>Grade 7</td>
                    <td>21 slides</td>
                    <td><em>Pending</em></td>
                    <td>
                      <a href="#" class="px-3">
                        <button class="btn btn-danger py-1 px-3 shadow-none" type="button">Delete</button>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>03-04-2024</td>
                    <td>2023/2024</td>
                    <td>Third term</td>
                    <td>Grade 7</td>
                    <td>21 slides</td>
                    <td><em>Pending</em></td>
                    <td>
                      <a href="#" class="px-3">
                        <button class="btn btn-danger py-1 px-3 shadow-none" type="button">Delete</button>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>03-04-2024</td>
                    <td>2023/2024</td>
                    <td>Third term</td>
                    <td>Grade 7</td>
                    <td>21 slides</td>
                    <td><em>Pending</em></td>
                    <td>
                      <a href="#" class="px-3">
                        <button class="btn btn-danger py-1 px-3 shadow-none" type="button">Delete</button>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>03-04-2024</td>
                    <td>2023/2024</td>
                    <td>Third term</td>
                    <td>Grade 7</td>
                    <td>21 slides</td>
                    <td><em>Pending</em></td>
                    <td>
                      <a href="#" class="px-3">
                        <button class="btn btn-danger py-1 px-3 shadow-none" type="button">Delete</button>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>03-04-2024</td>
                    <td>2023/2024</td>
                    <td>Third term</td>
                    <td>Grade 7</td>
                    <td>21 slides</td>
                    <td><em>Pending</em></td>
                    <td>
                      <a href="#" class="px-3">
                        <button class="btn btn-danger py-1 px-3 shadow-none" type="button">Delete</button>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>03-04-2024</td>
                    <td>2023/2024</td>
                    <td>Third term</td>
                    <td>Grade 7</td>
                    <td>21 slides</td>
                    <td><em>Pending</em></td>
                    <td>
                      <a href="#" class="px-3">
                        <button class="btn btn-danger py-1 px-3 shadow-none" type="button">Delete</button>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>03-04-2024</td>
                    <td>2023/2024</td>
                    <td>Third term</td>
                    <td>Grade 7</td>
                    <td>21 slides</td>
                    <td><em>Pending</em></td>
                    <td>
                      <a href="#" class="px-3">
                        <button class="btn btn-danger py-1 px-3 shadow-none" type="button">Delete</button>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>03-04-2024</td>
                    <td>2023/2024</td>
                    <td>Third term</td>
                    <td>Grade 7</td>
                    <td>21 slides</td>
                    <td><em>Pending</em></td>
                    <td>
                      <a href="#" class="px-3">
                        <button class="btn btn-danger py-1 px-3 shadow-none" type="button">Delete</button>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>03-04-2024</td>
                    <td>2023/2024</td>
                    <td>Third term</td>
                    <td>Grade 7</td>
                    <td>21 slides</td>
                    <td><em>Pending</em></td>
                    <td>
                      <a href="#" class="px-3">
                        <button class="btn btn-danger py-1 px-3 shadow-none" type="button">Delete</button>
                      </a>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Date</th>
                    <th>Session</th>
                    <th>Term</th>
                    <th>Grade</th>
                    <th>Slide(s)</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock%}
