{% extends 'admin_base.html' %} {% set active_page = "admin_dashboard" %} {%
block content %}
<div class="container-fluid">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %}
  <div
    class="alert alert-{{ category }} alert-dismissible fade show mx-auto mt-3 reduce"
    role="alert">
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"></button>
  </div>
  {% endfor %} {% endif %} {% endwith %}
  <div class="row">
    <div class="col-md-12">
      <h4>Dashboard</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="card shadow">
        <div class="card-header">
          <span><i class="bi bi-table me-2"></i></span> Transactions List
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              id="example"
              class="table table-striped data-table"
              style="width: 100%">
              <thead>
                <tr>
                  <th>S/N</th>
                  <th>Date</th>
                  <th>School</th>
                  <th>Session</th>
                  <th>Term</th>
                  <th>Grade</th>
                  <th>Slide(s)</th>
                  <th>Activity</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for upload in uploads %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ upload.date.strftime('%d-%m-%Y') }}</td>
                  <td>{{ upload.user.school_name }}</td>
                  <td>{{ upload.session }}</td>
                  <td>{{ upload.term }}</td>
                  <td>{{ upload.grade }}</td>
                  <td>{{ upload.files | length }} slides</td>
                  <td>
                    <a
                      href="{{ url_for('download', school_name=upload.user.school_name, files_id=upload.id) }}"
                      class="float-start btn btn-danger py-1 px-3 shadow-none"
                      >Download</a
                    >
                  </td>
                  <td>
                    <form action="{{ url_for('update_status') }}" method="POST">
                      <div class="d-xl-flex">
                        <select
                          name="status"
                          class="form-select mb-1 me-2 custom-input">
                          <option value="Pending" selected>Pending</option>
                          <option value="Active">Active</option>
                        </select>
                        <button
                          class="btn btn-primary fw-bold shadow-none"
                          type="submit">
                          Go
                        </button>
                      </div>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>S/N</th>
                  <th>Date</th>
                  <th>School</th>
                  <th>Session</th>
                  <th>Term</th>
                  <th>Grade</th>
                  <th>Slide(s)</th>
                  <th>Status</th>
                  <th>Activity</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
