{% extends 'admin_base.html' %}

{% set active_page = "admin_upload" %}

{% block content %}

   
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show mx-auto mt-3 reduce" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
            <!-- Account details card-->
    
    <fieldset class="card pb-4 mb-5 mt-5 col-xl-6 mx-auto shadow">
        <legend class="card-header">Upload E-notes</legend>
        <div class="card-body">
            <form class="card-body">
                <div class="mb-3">
                    <select name="school" class="form-select custom-input">
                        <option value="" selected>Select school</option>
                        <option value="First term">Heaven Way College</option>
                        <option value="Second term">Gloryville SChools</option>
                        <option value="Third term">Graceland Montesorri</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select name="grade" class="form-select custom-input">
                        <option value="" selected>Select grade</option>
                        <option value="Grade 7">Grade 7</option>
                        <option value="Grade 8">Grade 8</option>
                        <option value="Grade 9">Grade 9</option>
                        <option value="Grade 10">Grade 10</option>
                        <option value="Grade 11">Grade 11</option>
                        <option value="Grade 12">Grade 12</option>
                    </select>
                </div>
                <input type="file" class="form-control mb-3 custom-input" id="upload">
                <button class="btn btn-primary col-xl-12 fw-bold p-2 shadow-none" type="button">Upload</button>
            </form>         
        </div>
    </fieldset>
    <!----------- clear e-notes form ----------->
    <fieldset class="card pb-4 mb-5 mt-5 col-xl-6 mx-auto shadow">
        <legend class="card-header">Delete E-notes from database</legend>
        <div class="card-body">
            <form class="card-body">
                <div class="mb-3">
                    <select name="school" class="form-select custom-input">
                        <option value="" selected>Select school</option>
                        <option value="First term">Heaven Way College</option>
                        <option value="Second term">Gloryville SChools</option>
                        <option value="Third term">Graceland Montesorri</option>
                    </select>
                </div>
                <button class="btn btn-danger col-xl-12 fw-bold p-2 shadow-none" type="button">Delete E-notes</button>
            </form>         
        </div>
    </fieldset>
  
{% endblock %}