{% extends 'base.html' %}

{% set active_page = "settings" %}

{% block content %}

    <div class="container px-4 mt-3">
        
        <div class="row">
            <div class="col-xl-9 mx-auto">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div
                            class="alert alert-{{ category }} alert-dismissible text-center w-75 fade show mx-auto mt-3 reduce"
                            role="alert">
                            {{ message }}
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!-- Account details card-->
                <div class="card mb-4 shadow col-lg-9 mx-auto" style="background-color: #ffffffab;">
                    <div class="card-header">Account Settings</div>
                    <div class="card-body">
                        <div class="card my-4 shadow" style="background-color: #ffffffab;">
                            <div class="mb-3 card-header">Change password</div>
                            <form class="card-body" method="post">
                                {{ cform.csrf_token }}
                                <div class="mb-3">
                                    {{ cform.old_password(class="form-control custom-input") }}
                                    {% for error in cform.old_password.errors %}
                                        <div class="invalid-feedback d-block">{{ error }}</div>
                                    {% endfor %}
                                </div>
                                <div class="mb-3">
                                    {{ cform.new_password(class="form-control custom-input") }}
                                    {% for error in cform.new_password.errors %}
                                        <div class="invalid-feedback d-block">{{ error }}</div>
                                    {% endfor %}
                                </div>
                                <div class="mb-3">
                                    {{ cform.confirm_password(class="form-control custom-input") }}
                                    {% for error in cform.confirm_password.errors %}
                                        <div class="invalid-feedback d-block">{{ error }}</div>
                                    {% endfor %}
                                </div>
                                {{ cform.submit(class="btn w-100 btn-success shadow-none") }}
                            </form>
                        </div>
                        <hr>
                        <div class="card my-4 shadow" style="background-color: #ffffffab;">
                            <div class="mb-3 card-header">Delete Account</div>
                            <div class="card-body">
                                <div class="alert alert-warning alert-dismissible text-danger fw-bold">
                                    Are you sure you want to delete your account? <br>
                                    Once you delete your account, there is no going back. Please be certain!
                                </div>
                                <form action="" method="post">
                                    {{ dform.csrf_token }}
                                    <div class="form-check mb-3">
                                        {{ dform.account_activation(class="form-check-input") }}
                                        {{ dform.account_activation.label(class="form-check-label text-muted") }}
                                        {% for error in dform.account_activation.errors %}
                                            <div class="invalid-feedback">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                    {{ dform.submit(class="btn btn-danger w-100 shadow-none", onclick="return confirm('Are you sure you want to delete this entry?')") }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}